Flask==3.0.0
Flask-SQLAlchemy==3.1.1
requests==2.31.0
APScheduler==3.10.4
python-dateutil==2.8.2
defusedxml==0.7.1
requests-kerberos==0.14.0
azure-keyvault-certificates==4.7.0
azure-keyvault-secrets==4.7.0
azure-identity==1.15.0
cryptography==41.0.7
